{% block form %}

<form
  id="upload_form"
  action="/"
  method="post"
  class="col s12"
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="input-field col s3"></div>
    <div
      class="input-field col s5"
      style="margin-left: 20px; margin-top: 100px"
    >
      <div class="row">
        <label for="first_name"><b>Upload Original Image</b></label>
        <br />
        <div class="file-field input-field">
          <div class="btn" style="background-color: #5e72e4">
            <span>Browse</span>
            <input
              type="file"
              name="original_file_upload"
              id="original_file_upload"
            />
          </div>
          <div class="file-path-wrapper">
            <input
              class="file-path validate"
              type="text"
              placeholder="Upload file"
              name="original_file_name"
              id="original_file_name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <label for="first_name"><b>Upload New Image</b></label
        ><br />
        <div class="file-field input-field">
          <div class="btn" style="background-color: #5e72e4">
            <span>Browse</span>
            <input type="file" name="new_file_upload" id="new_file_upload" />
          </div>
          <div class="file-path-wrapper">
            <input
              class="file-path validate"
              type="text"
              placeholder="Upload file"
              name="new_file_name"
              id="new_file_name"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row center">
    <button type="submit" class="btn-large" style="background-color: #5e72e4">
      Check
    </button>
  </div>
</form>

{% endblock %}