<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Data Analysis Toolkit</title>

  <!-- CSS  -->
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css/custom_styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  {% block navbar %}{% endblock %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        {% block form %}{% endblock %}
        {% if show_result %}
          {% block result %}{% endblock %}
        {% endif %}
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  {% block script %}{% endblock %}
  </body>
</html>

