<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Data Analysis Toolkit</title>

  <!-- CSS  -->
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css/custom_styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  {% block navbar %}{% endblock %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        {% block form %}{% endblock %}
        {% if show_result %}
          {% block result %}{% endblock %}
        {% endif %}
      </div>
    </div>
  </div>

  <footer class="page-footer" style="background-color: #343a40; color: white; padding: 20px; font-size: x-small; line-height: 10px;">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <h6>Data Processing Toolkit</h6>
          <p>Created by: Dayita Chaudhuri</p>
          <p>Email: <a href="mailto:dayitachaudhuri.tech@example.com" style="color: #ffffff;">dayitachaudhuri.tech@example.com</a></p>
        </div>
        <div class="col s6">
          <p>&copy; 2024 Data Processing Toolkit. All rights reserved.</p>
          <p>Providing cutting-edge tools for image processing and analysis.</p>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  {% block script %}{% endblock %}
  </body>
</html>

